/* @media only screen and (min-device-width : 320px) and (max-device-width : 1366) 
{
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        }
}

 */

/* Styles  */
:root {
--selected: '';
--mineSweepBackground: url(minesweepBkgrnd.png);

--backgroundColor: hsl(0, 0%, 50%);
--backgroundGr: rgb(162,162,162);
--backgroundGrad: linear-gradient(45deg, rgba(162,162,162,1) 4%, rgba(128,128,128,1) 43%, rgba(84,84,84,1) 64%, rgba(47,47,47,1) 86%);
--textShadow: hsl(0, 0%, 90%);
--fontFamily: arial;
--topBorder: 0.3rem solid hsl(0, 0%, 20%);

--divBackgroundColor: hsl(0, 0%, 51%);
--divTextColor: black;
--divTextSize: 1.2rem;

--buttonWidth: 35vW;

--divFontWeight: bold;
--divPadding: 0.75rem;
--divMargin: 1rem;
--divBorderSize: solid 1px;
--divBorderColor: black;

}
/* Variabler  */

.passwordTxt 
{
margin: 0;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    /* max-width: 600px; */
    background: var(--backgroundGrad);
    /* background-blend-mode: ; */
    overflow: hidden;
    font-family: var(--fontFamily);
    text-align: center;
}
h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-shadow: var(--textShadow) 0px 0px 5px;
    font-family: var(--fontFamily);
}
.logIn {
    width: 12rem; 
}



.welcomeMenu {
    background-color: var(--divBackgroundColor);
    border: var(--divBorderSize);
        border-radius: 9999px;
    /* margin: var(--divMargin); */
    padding: var(--divPadding);
        /* padding-left: 1.5rem; */
    font-size: var(--divTextSize);
    font-weight: var(--divFontWeight);
    font-family: var(--fontFamily);
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: var(--buttonWidth);
    margin-top: 0.5rem;
}

.newUser, .confirm  {
    /* margin-top: 0.4rem; */
    /* margin-bottom: 0.2rem;
    max-width: 8rem;
    text-align: center;
    padding: 0rem; */
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: var(--buttonWidt);
    /* margin: 0.2rem; */
    padding: 0.5rem;
}
        .wm1 {
            background-image: url();
            background-color: var(--menuButton1, hsl(0, 0%, 50%));
        }
        .wm2 {
            background-image: url();
            background-color: var(--menuButton2,hsl(0, 0%, 45%));
        }
        .wm3 {
            background-image: url();
            background-color: var(--menuButton3,hsl(0, 0%, 40%));
        }
        .wm4 {
            background-color: var(--menuButton4,hsl(0, 0%, 35%)); 
        }
        .wm5 {
            background-image: url();
            background-color: var(--menuButton5,hsl(0, 0%, 30%));
        }


    .back {
        position: absolute;
        bottom: 0.5rem;
        left: 0.75rem;
        font-size: 2.5rem;
        color: whitesmoke;
        text-shadow: black 0.1rem 0.1rem 0.1rem;
    }

.optionView1 {
    height: 100%;
    background-image: var(--mineSweepBackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--divBackgroundColor);
    background-blend-mode: difference;
}
    img {
        width: 8rem;
        height: 8rem;
    }

    .userContainer {
        position: absolute;
        /* margin-left: 2rem; */
        text-shadow: var(--textShadow) 0px 0px 5px;
        font-size: 1.5rem;
    }

    .user {
        margin: var(--divMargin);
        font-family: var(--fontFamily);

    }

    
       
        .animateContainer {
            position: absolute;
            width: 100%;
            height: 100%;
            background: hsl(50, 100%, 25%);
            animation: blink 20s infinite;
            -webkit-animation: blink 10s infinite;
            animation-timing-function: linear;
            clip-path: polygon(0 0, 100% 0, 100% 30%, 30% 95%, 0 95%);
            /* opacity: 85%; */
            border-top: var(--topBorder);
        }

    @keyframes blink {
        0% {background: hsl(50, 100%, 25%);}
        17% {background: hsl(100, 100%, 25%);}
        34% {background: hsl(150, 100%, 25%);}
        50% {background: hsl(200, 100%, 25%);}
        66% {background: hsl(250, 100%, 25%);}
        83% {background: hsl(300, 100%, 25%);}
        92% {background: hsl(20, 100%, 25%);}
    }
        @-webkit-keyframes blink {
            0% {background: hsl(50, 100%, 25%);}
            17% {background: hsl(100, 100%, 25%);}
            34% {background: hsl(150, 100%, 25%);}
            50% {background: hsl(200, 100%, 25%);}
            66% {background: hsl(250, 100%, 25%);}
            83% {background: hsl(300, 100%, 25%);}
            92% {background: hsl(20, 100%, 25%);}
        }



    .optionView2 {
       
    }
        /* input {
            background: var(--menuButton1, hsl(0, 0%, 50%));
            color: black;
            font-family: var(--fontFamily);
            height: 1.5rem;
            /* margin-left: var(--divMargin); */
            /* padding: 0; */
            /* margin-right: var(--divMargin); */ 
        
       
       
    .found {
        position: relative;
        margin-top: 0.5rem;
        height: 1.5rem;
        width: 15rem;
        font-family: var(--fontFamily);
        margin-left: var(--divMargin);
    }
    .friendbtn {
        font-family: var(--fontFamily);
        margin-top: 0.5rem;
        height: 1.5rem;
        width: 3.5rem;
        text-align: center;
        border: 1px solid black;
            border-radius: 9999px; 
        background-color: var(--menuButton1, hsl(0, 0%, 50%));
        box-shadow: 2px 2px 2px black;
        margin-left: var(--divMargin);
    }

    table {
        display: table;
        border-top: 1px solid var(--menuButton5,hsl(0, 0%, 30%));
        width: 95%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .friendTable {
        margin-top: 0.2rem;
        margin-left: var(--divMargin);
    }

    .msgFriend {
        width: 2rem;
        height: 2rem;
        text-align: center;
        font-size: 2rem;
        float: left;
        margin: var(--divMargin);
    }
    .removeFriend {
        width: 2rem;
        height: 2rem;
        text-align: center;
        font-size: 2rem;
        float: left;
        margin: var(--divMargin);
    }

    .optionsContainer {
        width: 100%;
        height: 70%;
        font-family: var(--fontFamily);
    }


        .menuHeader {
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }

        input {
            position: relative;
        
            max-width: 15rem;
            margin: 0.2rem;
            padding: 0.5rem;
        }

        .chkBox {
            margin-left: var(--divMargin);
            width: 20px;
            height: 20px;
        }
        
        .slider {
            margin-left: var(--divMargin);
        }

        select {

        }

        .selectMenu {
            margin-left: var(--divMargin);
        }